<?xml version="1.0"?>
<!--
/**
 * Copyright © Quissly. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Quissly_Search::quissly" title="Quissly" translate="title" sortOrder="80">
                    <resource id="Quissly_Search::config" title="Configuration" translate="title" sortOrder="10"/>
                    <resource id="Quissly_Search::dashboard" title="Dashboard" translate="title" sortOrder="20"/>
                    <resource id="Quissly_Search::billing" title="Billing" translate="title" sortOrder="30"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
