<?xml version="1.0"?>
<!--
/**
 * Copyright © Quissly. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- Diagnostic only: reports which engine answered this request. -->
    <event name="controller_front_send_response_before">
        <observer name="quissly_search_diagnostic_header"
                  instance="Quissly\Search\Observer\SearchDiagnosticHeader"/>
    </event>
</config>
